
.spoler_title:before,
.spoler_title1.active:before,
.spoler_title2.active:before,
.radiobuttons__item input,
.hi-next,
.hi-next:hover,

.block {
	padding: 100px 0;
}

.block h2 {
	padding-bottom: 20px;
	text-align: center;
}

.block_navy {
	background-color: #004080;
}

.spoller_wrapper {
	display: flex;

	justify-content: space-between;
	flex-wrap: wrap;
}

.spoller_wrapper_items {
	width: 50%;
}

.spoler_block {
	margin:40px 0;
}

.block_item {
	margin:0 0 20px 0;
}

.spoler_title {
	position: relative;

	padding-left: 30px;

	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.spoler_title:after {
	content:"";

	position: absolute;
	top:11px;

	height: 1px;
	width: 10px;

	background-color: #000;

	transition:all .3s ease 0s;
}

.spoler_title:before {
	left:0;
	transform:rotate(40deg);
}

.spoler_title:after {
	left:8px;
	transform:rotate(-40deg);
}

.spoler_text {
	display: none;
	padding: 10px 0 0 0;
}

.spoler_title1.active:after {
	background-color: red;
}

.spoler_title1.active:before {
	transform:rotate(-40deg);
}

.spoler_title1.active:after {
	transform:rotate(40deg);
}

.spoler_title2.active:after {
	background-color: red;
}

.spoler_title2.active:before {
	transform:rotate(-40deg);
}

.spoler_title2.active:after {
	transform:rotate(40deg);
}

.spoler_title3 {
	position: relative;

	padding-left: 40px;

	cursor: pointer;
	text-transform: uppercase;
}

.spoler_title3:before {
	content:"";

	position: absolute;
	top:0;
	left:-1px;

	height: 28px;
	width: 28px;

	background-image: url(../img/arrows/accordion-plus.png);
	background-repeat: no-repeat;

	transition:all .3s ease 0s;
}

.spoler_title3.active:before {
	background-image: url(../img/arrows/accordion-minus.png);
}




//https://www.youtube.com/watch?v=1e7dAyEDe3o
// крутой боковой таб
.cont_body {
	display: flex;

	min-height: 100vh;

	justify-content: center;
	align-items: center;
}

.container_box {
	position: relative;
	display: flex;

	width: 100%;

	flex-wrap: wrap;
	justify-content: space-between;
}

.container_box .icon {
	position: relative;
	display: flex;

	width: 50%;

	text-align: center;

	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container_box .icon .iconBx {
	position: relative;
	display: flex;

	height: 140px;
	width: calc(50% - 40px);
	margin:0 30px 30px 0;
	padding: 0 25px;

	font-size: 30px;
	color:#fff;
	box-shadow:0 5px 15px rgba(0, 0, 0, .07);

	transition:.5s;

	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container_box .icon .iconBx:hover {
	font-size: 34px;
	box-shadow:0 10px 30px rgba(0, 0, 0, .10);
}

.content__box {
	position: relative;

	overflow: hidden;
	width: 48%;
}

.content__box .contentBx {
	position: absolute;
	display: flex;

	height: 100%;
	width: 100%;

	opacity: 0;
	color:#fff;

	transition:.5s;
	transform:scale(0);

	justify-content: center;
	align-items: center;
}

.content__box .contentBx.active {
	opacity: 1;

	transform:scale(1);

	transform-delay:.5s;
}

.content__box .text {
	color:#fff;
}






.header__site {
	height:70px;
	width:100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 120;
	display: flex;
justify-content: space-between;
	align-items: center;

}

.header__site li {
float:left;
list-style: none;
border-right:1px solid #252525;
}


.header__site li a {
width:98px;
height:12px;
padding: 14px 7px;
color:#fff;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-weight: 400;
font-family: tahoma;
line-height: 40px;

}
.header__site .site__logo {
	width:201px;
	height:70px;
	background: orange no-repeat ;
}

.header__site .site__logo a {
color:black;
text-align: center;
line-height: 70px;
padding: 10px;
font-size: 20px;
text-decoration: none;
}
.site__nav {
	padding-right: 20px;
}
a.next,
a.prev {
height:91px;
position: absolute;
width:43px;
top:50%;
margin-top: -30px;
opacity:.7;
text-indent: -99999px;
cursor: pointer;
transition: opacity 200ms ease-out;

}
a.next:hover,
a.prev:hover {
opacity:1.0;
}

.prev {
left: 0;
background: #000 url(../img/slider/g.jpg) no-repeat -200px 25px;
}
.next {
left: 0;
background: #000 url(../img/slider/g.jpg) no-repeat -159px 25px;
}

.slider__site {
	height:100vh;
	position: relative;
}


.slide {
	position: absolute;
	height:100%;
	width:100%;

}

.slider__site .slide:target {
z-index:100;
}

.slider__site .slide img {
max-width:100%;
width:100%;
position: absolute;
left:0;
}











.header__site__navcolor {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 120;
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-image: linear-gradient(to right, #a517ba, #5f1782  );
}
.header__site__navcolor .site__nav li {
float: left;
list-style-type: none;
padding-left: 5px;
padding-right: 5px;
}
.header__site__navcolor .site__logo {
	padding-left: 15px;
}


#baner__site {
background-image: linear-gradient(to right, #a517ba, #5f1782  );
padding-top: 5%;
min-height:100vh;
position: relative;

}

#baner__site:before {
content:'';
position: absolute;
bottom:-2px;
width:100%;
height:304px;
background-image: url(../img/slider/wave-bottom.svg);
}





.col-md-6 {
	width:50%;
}
.promo-title {
font-size: 40px;
margin-top: 100px;
line-height: 1;
	margin-bottom: 40px;
font-weight: 600;

}
.promo-text {
	margin-bottom: 40px;
}

.header__color {
	height:1000px;
	background-color: red;
}


.block__square {
	background: linear-gradient(45deg, #cfffd0, #3fff46);
}

.square {
position: relative;
width:120px;
height:120px;
 animation: rotateborder 4s linear infinite;
 border:10px dashed rgba(0, 0, 0, .2);
 box-shadow: 0 0 0 10px rgba(0, 0, 0, .2),
 0 0 0 10px rgba(0, 0, 0, .5),
inset 0 0 0 10px rgba(0, 0, 0, .5);
}
@keyframes rotateborder  {
0% {
transform: rotate(360deg);
}
100% {
transform: rotate(0deg);
}
}
.square span {
position: absolute;
top:0;
left:0;
display: block;
width:100px;
height:100px;
overflow:hidden;

}


.square span:before {
content:'';
position: absolute;
width:100%;
height:100%;
border: none;
border-top: 10px solid #fff;
 animation: animateborder 2s linear infinite;
}







.square span:nth-child(1) {
transform:rotate(0deg);
}
.square span:nth-child(2) {
transform:rotate(90deg);
}
.square span:nth-child(3) {
transform:rotate(180deg);
}
.square span:nth-child(4) {
transform:rotate(270deg);
}
@keyframes animateborder  {
0% {
left:-100%;
}
25% {
left:0;
}
50%, 100% {
left:100%;
}
}

.square span:nth-child(1):before {
	animation-delay: 0s;
}
.square span:nth-child(2):before {
	animation-delay: 0.5s;
}
.square span:nth-child(3):before {
	animation-delay: 1.0s;
}
.square span:nth-child(4):before {
	animation-delay: 1.5s;
}


.sb__wrap {
	display: flex;
	justify-content: space-evenly;
}




.single--box {
	// width:370px;
	width:30%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	cursor: pointer;
	border-radius:10px;
}
.header-area.img1 {
	background-image: url(../img/cards/1.jpg);
}
.header-area {
	border-radius: 10px 10px 50% 0;
	padding: 120px 30px;
	background-size: cover;
	background-position: center center;
}

.body-area h3 {
text-align: center;
margin-bottom: 20px;
margin-top: 30px;
}
.pro-text,
.body-area h4 {
margin-left: 10px;
margin-right: 10px;
}


.pro-social {
	margin-left: 20px;
	padding-bottom:20px;
}






